[Oo]bj/
[Bb]in/
*.xap
*.user
*.vspscc
*.vssscc
deploy
deploy/*
*.suo
*.cache
*.docstates
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
SignalR.ConnectionProxy/packages/*
artifacts/*
msbuild.log
PublishProfiles/
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.log
*.vspx
*.log.txt
*.js.map
signalR.connectionProxy.js
signalR.connectionProxy.d.ts
SignalR.ConnectionProxy/SignalR.ConnectionProxy.Core/**/*.js