@{
    ViewBag.Title = "PubSub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PubSub</h2>

<button class="btn btn-large btn-success" id="broadcast">Broadcast</button><input type="text" id="broadcastText" />

<div id="messages"></div>

@section scripts {
    <script src="~/Content/Samples/PubSub/Main.js"></script>
}